:root {
  --primary-color: #4CAF4F;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #717171;
  --second-color:#F5F7FA;
  --text-color:#4D4D4D;
  --text-color-two:#717171;

}

* {
  margin: 0;
  padding: 0;
}